html{
  scroll-behavior: smooth;
}

body{
  background-color: #E8E8E8;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.nav-wrapper{
  background-color: white;
  -webkit-box-shadow: 0 8px 6px -6px grey;
  position: fixed;
  width: 100%;
}

.navbar-1{
  display: flex;
  justify-content: flex-start;

}

.navbar-1 li{
  margin: 10px;
  list-style: none;
}

.navbar-1 a{
  text-decoration: none;
  padding: 5px;
  color: #787878;
  transition: 1s;
}

.navbar-1 a:hover{
  background-color: #E8E8E8;
  color: black;
  border-right: 1.5px green solid;
  border-left: 1.5px green solid;
}


.background-image{
  background-image: url('https://cdn.pixabay.com/photo/2016/02/19/11/19/computer-1209641_960_720.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 450px;
  margin: auto;
  display: grid;
  grid-template-columns: auto;
}

.desc{
  display: flex;
  color: grey;
  padding-top: 10px;
}

.display-wrapper{
  margin: auto;
  padding-top: 4px;
  padding-bottom: 16;
  width: 80%;
  display: block;
}

.display-wrapper h1{
  color: #8FD400;
  font-size: 4em;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 10px;
}

.display-wrapper p{
  color: #FFEB00;
  padding: 2px 4px 2px 4px;
  font-weight: bold;
  text-transform: uppercase;
  font-style: italic;
}

.sections{
  text-align: center;
  border-top: 1px grey solid;
  border-bottom: 1px grey solid;
  margin: 20px 50px 50px;
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic;
  color: #787878;
  letter-spacing: 25px;
}

.laravel-wrapper{
  display: grid;
  grid-template-columns: auto auto;
  margin: auto;
  width: 90%;
  grid-gap: 15px;
  padding-top: 10px;
}

.pages img{
  height: 350px;
  width: 750px;
  margin-bottom: 15px;
  padding-bottom: 25px;
  border-bottom: 2px solid grey;
}

.laravel-wrapper h1{
  text-align: center;
  color: #505050;
  font-weight: 300;
  text-transform: uppercase;
  padding-bottom: 5px;
  border-bottom: 1.5px solid green;
  letter-spacing: 3px;
}

.laravel-wrapper a{
  margin-left: 10px;
}

.laravel-wrapper a:hover{
  border-bottom: 1.5px green solid;
}

.description{
  font-weight: lighter;
  text-align: justify;
  letter-spacing: 1.5px;
  line-height: 1.5;
}

.services{
  display: grid;
  grid-template-columns: auto;
  width: 70%;
  margin: auto;
  padding: 25px;
}

.services-2{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
}

.service-desc{
  background-color: #D2691E;
  padding: 15px;
}

.frontend{
  font-family: 'Trebuchet MS', sans-serif;
  text-align: center;
  padding-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: 25px;
  border-bottom: 0.5px solid black;
  color: white;
}

.service-desc{
  font-family: Garamond, serif;
  font-size: 1.2em;
  line-height: 1.5;
  letter-spacing: 1.5px;
}

.services img{
  width: 450px;
  height: 100%;
}

.footer-wrapper{
  background-color: #202020;
  height: 100%;
  width: 100%;
  padding: 15px;
  color: white;
}

.footer-contents{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}

.items{
  padding-left: 20px;
  color: inherit;
  transition: 1s;
}

.items:hover{
  font-size: 1.5rem;
}
